.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.tabs {
  position: relative;
  display: flex;
  align-content: center;
  gap: 16px;
  justify-content: center;
}

.tab {
  cursor: pointer;
  position: relative;
  z-index: 30;
}

.tabContent {
  border: 1px solid #d9dcde;
  border-radius: 24px;
  padding: 8px 24px;
  color: #535556;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.tabContentActive {
  background-color: #8f7162e6;
  color: #f3f3f3;
}

.active {
  position: relative;
  padding: 0 10px;
}

.notActive {
  position: relative;
  padding: 0 10px;
}

.wrapper {
  /* border: 2px solid #eff8f8; */
  height: 100%;
  padding: 35px 0 35px 35px;
  border-radius: 24px;
  display: flex;
  gap: 40px;
  transition: all 500ms ease-in-out;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 387px;
  max-width: 387px;
}

.title {
  color: #080909;
  font-family: 'Cormorant Garamond';
  font-size: 48px;
  line-height: 92%;
  letter-spacing: -0.96px;
}

.description {
  color: #535556;
  font-size: 18px;
  margin-top: 12px;
}

.info {
  /* color: #0d7b7c; */
  font-size: 16px;
  margin-top: 24px;
  padding-right: 80px;
}

.mobileInfo {
  display: none;
}

.sliderWrapper {
  width: 100%;
  overflow: visible;
  gap: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.sliderBlock {
  max-width: 955px;
}

.slider {
  width: 100%;
  align-items: stretch;
}

.card {
  display: flex;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
  max-width: 420px;
  min-width: 420px;
  height: 530px;
  flex-direction: column;
}

.cardSingle {
  display: flex;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
  max-width: 420px;
  min-width: 420px;
  height: 530px;
  flex-direction: column;
}

.card > div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 24px;
  background-color: #f3f3f3;
}

.cardSingle > div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 24px;
  background-color: #f3f3f3;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.learnMore {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  /* color: #C69C93; */
  color: #8f7162e6;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.frontCard {
  z-index: 2;
  transform: rotateY(0deg);
}

.backCard {
  transform: rotateY(180deg);
}

.cardImage {
  border-radius: 12px;
  width: 372px;
  height: 300px;
  object-fit: cover;
}

.cardTitle {
  margin-top: 28px;
  color: #080909;
  font-family: Cormorant;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.cardDescription {
  color: #535556;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  margin-top: 8px;
}

.button {
  width: 164px;
  height: 58px;
  margin-top: 24px;
}

.mobileButton {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.navButton {
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
  background-color: #8f7162e6;
}

.prev {
  composes: navButton;
}

.next {
  composes: navButton;
}

.disabled {
  background-color: #8f716271;
  pointer-events: none;
}

.dots {
  display: flex;
  gap: 8px;
  padding-right: 24px;
}

.dot {
  background-color: #EBDBD6;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.dotActive {
  background-color: #8f7162e6;
}

@media screen and (min-width: 1000px) {
  .tabContentActive::before {
    content: '';
    position: absolute;
    pointer-events: none;
    height: 29px;
    width: 31px;
    left: -28px;
    bottom: -25px;
    /* border: 2px solid #eff8f8; */
    border-bottom: none;
    border-left: none;
    border-radius: 0 24px 0 0;
    transition: transform 0.5s ease-in-out;
    transform: rotate(90deg);
    z-index: 20;
  }

  .tabContentActive::after {
    content: '';
    position: absolute;
    pointer-events: none;
    height: 35px;
    width: 30px;
    right: -28px;
    bottom: -26px;
    /* border: 2px solid #eff8f8; */
    border-bottom: none;
    border-left: none;
    border-radius: 0 24px 0 0;
    transition: transform 0.5s ease-in-out;
    transform: rotate(180deg);
    z-index: 20;
  }

  .active::before {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -1;
    height: 50px;
    left: 0;
    right: 0;
    top: -10px;
    width: 100%;
    /* border: 2px solid #eff8f8; */
    border-bottom: none;
    border-radius: 24px 24px 0 0;
    transition: transform 0.5s ease-in-out;
  }

  .active::after {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: 20;
    height: 10px;
    left: -16px;
    right: 0;
    bottom: -34px;
    background-color: white;
  }

  .bottomMobile {
    display: none;
  }

  .active:nth-child(1)::after {
    width: 115%;
  }

  .active:nth-child(2)::after {
    width: 112%;
  }

  .active:nth-child(3)::after {
    width: 119%;
  }

  .active:nth-child(4)::after {
    width: 113%;
  }

  .card:hover .frontCard {
    transform: rotateY(-180deg);
  }

  .card:hover .backCard {
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 1000px) {
  .section {
    gap: 0;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
  }

  .tabContent {
    padding: 6px 12px;
    font-size: 15px;
    gap: 8px;
  }

  .active {
    padding: 0;
    width: max-content;
  }

  .notActive {
    padding: 0;
    width: max-content;
  }

  .wrapper {
    margin-top: 24px;
    border: none;
    height: 100%;
    width: 100% !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .leftBlock {
    min-width: auto;
    max-width: 100%;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
    margin-top: 8px;
  }

  .info {
    display: none;
  }

  .mobileInfoWrap {
    min-height: 20px;
  }

  .mobileInfo {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    padding-right: 0;
    color: #9a7f71;
  }

  .sliderWrapper {
    width: 100%;
    overflow: visible;
    gap: 12px;
  }

  .sliderBlock {
    width: 100%;
    max-width: 100%;
  }

  .slider {
    width: 100%;
    align-items: stretch;
  }

  .card {
    min-width: 311px;
    min-height: min-content;
    max-width: 311px;
    max-height: 440px;
  }

  .cardSingle {
    min-width: 311px;
    min-height: min-content;
    max-width: 311px;
    max-height: 440px;
  }
  
  .card > div {
    padding: 12px;
  }

  .cardSingle > div {
    padding: 12px;
  }

  .frontCard.hide {
    transform: rotateY(-180deg);
  }

  .backCard.show {
    transform: rotateY(0deg);
  }

  .cardImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
  }

  .cardTitle {
    margin-top: 8px;
    font-size: 18px;
  }

  .cardDescription {
    font-size: 12px;
    line-height: 140%;
    margin-top: 4px;
  }

  .button {
    display: none;
  }

  .mobileButton {
    height: 58px;
    margin-top: 32px;
    display: flex;
  }

  .navigation {
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 0;
  }

  .dots {
    padding-right: 0;
  }

  .dotActive {
    background-color: #8f7162e6;
  }
  .nav {
    gap: 16px;
  }

  .bottom {
    display: none;
  }

  .link {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: none;
  }

  .cardSingle {
    max-width: none;
  }
}
