.ctaSection {
    background: url("/plasmic/image_lab_2024/images/ctaBgSvg.svg") top 50% left 50% / contain no-repeat,
        rgba(6, 67, 67, 1);
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 80px 60px;
}

.ctaSection> :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: calc(0px - 56px);
    height: calc(100% + 56px);
}

.ctaSection> :global(.__wab_flex-container)>*,
.ctaSection> :global(.__wab_flex-container)> :global(.__wab_slot)>*,
.ctaSection> :global(.__wab_flex-container)>picture>img,
.ctaSection> :global(.__wab_flex-container)> :global(.__wab_slot)>picture>img {
    margin-top: 56px;
}

@media (max-width: 1200px) {
    .ctaSection {
        background: url("/plasmic/image_lab_2024/images/ctaBgSvg.svg") top 50% left 50% / cover no-repeat,
            rgba(6, 67, 67, 1);
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .ctaSection {
        width: 100%;
        background: url("/plasmic/image_lab_2024/images/ctaMobileBgSvg.svg") top 50% left 50% / contain no-repeat,
            rgba(6, 67, 67, 1);
        grid-column-start: 1 !important;
        grid-column-end: -1 !important;
        padding: 80px 16px;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .ctaSection> :global(.__wab_flex-container) {
        margin-left: calc(0px - 0px);
        width: calc(100% + 0px);
        margin-top: calc(0px - 40px);
        height: calc(100% + 40px);
    }
}

@media (min-width: 0px) and (max-width: 768px) {

    .ctaSection> :global(.__wab_flex-container)>*,
    .ctaSection> :global(.__wab_flex-container)> :global(.__wab_slot)>*,
    .ctaSection> :global(.__wab_flex-container)>picture>img,
    .ctaSection> :global(.__wab_flex-container)> :global(.__wab_slot)>picture>img {
        margin-left: 0px;
        margin-top: 40px;
    }
}


.freeBox___5On5E {
    height: 194px;
    display: flex;
    position: relative;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
}

.freeBox___5On5E> :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
}

.freeBox___5On5E> :global(.__wab_flex-container)>*,
.freeBox___5On5E> :global(.__wab_flex-container)> :global(.__wab_slot)>*,
.freeBox___5On5E> :global(.__wab_flex-container)>picture>img,
.freeBox___5On5E> :global(.__wab_flex-container)> :global(.__wab_slot)>picture>img {
    margin-top: 12px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .freeBox___5On5E {
        height: auto;
        width: 343px;
        align-self: auto;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .freeBox___5On5E> :global(.__wab_flex-container) {
        align-items: center;
        justify-content: flex-start;
    }
}


.heading9 {
    display: block;
    font-size: 64px;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    letter-spacing: -2%;
    line-height: 100%;
    position: relative;
    width: 771px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .heading9 {
        width: auto;
        font-size: 40px;
    }
}


.supportingText8 {
    display: block;
    font-size: 18px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 140%;
    color: #f8f8f8;
    position: relative;
    width: 569px;
}

@media (min-width: 0px) and (max-width: 768px) {
    .supportingText8 {
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        padding-left: 35px;
        padding-right: 35px;
        min-width: 0;
    }
}


.learnMoreCta {
    position: relative;
    height: 58px;
    flex-shrink: 0;
    align-items: center;
}

@media (min-width: 0px) and (max-width: 768px) {
    .learnMoreCta {
        width: 225px;
    }
}