@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'react-calendar/dist/Calendar.css';
@import 'variables.css';


/* html h1 {
  line-height: 1.16;
} */

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 92%;
}

.d-h1 {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.10;
}

.d-h2 {
  font-size: 64px;
  line-height: 1.10
}

.d-h4 {
  font-size: 24px;
  line-height: 1.10
}

.rich-h4 {
  font-size: 30px;
  line-height: 1.10
}

.wrapper {
  max-width: 1400px;
  /* max-width: 100%; */
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
  .d-h1 {
    font-size: 60px;
  }

  .d-h2 {
    font-size: 40px;
  }

  .d-h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .d-h1 {
    font-size: 40px;
  }
  
  .rich-h4 {
    font-size: 20px;
  }

  .wrapper {
    padding: 0 16px;
  }
}

.gold-italic {
  color: #D19D51;
  font-style: italic;
  font-weight: 500;

  &.light {
    color: #FAD8A7;
  }
}

.blue-italic {
  font-style: italic;
  font-weight: 500;
}

.button {
  border-radius: 8px;
  background: linear-gradient(97deg, #9A6B63 0%, #E0C2B8 33.56%, #9A6B63 115.73%);
  padding: 20px 32px;
  margin: 15px 0px;
  position: relative;
  color: white;
  width: fit-content;
  justify-self: right;
  font-weight: 600;

  &.white {
    background: white;
    color: #1b1b18;
  }
}

@media (max-width: 768px) {
  .button {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.react-calendar {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #7B7D7F;
}

.react-calendar__tile {
  color: #9a7f71 !important;
  padding: 40px 0 !important;
  border: 1px solid #EAECEE !important;
  border-radius: 8px;
  background: transparent !important;
  background-image: url('/icons/calendar-dot.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center 45px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__tile:disabled {
  background: transparent;
  color: #7B7D7F !important;
  background-image: none !important;
}

.react-calendar__navigation__label:disabled {
  background: transparent !important;
}

.react-calendar__navigation__label__labelText {
  min-width: 44px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.react-calendar__navigation__arrow {
  color: #9a7f71;
  font-size: 24px;
  padding: 10px;
}

.react-calendar__navigation__arrow:disabled {
  color: #00000030;
  background: transparent !important;
}

.react-calendar__month-view__weekdays__weekday {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #7B7D7F;
  text-transform: lowercase;

  abbr {
    text-decoration: none;
    border: none;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.react-calendar__month-view__days__day {
  color: #7B7D7F;
  padding: 20px 20px 30px 20px !important;
  font-family: 'Poppins', sans-serif;
  font-size: 18px !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #7B7D7F !important;
}

.react-calendar__tile--now {
  border: 2px solid #9a7f71 !important;
  background: transparent !important;
}

.react-calendar__tile--active {
  background: #9a7f71 !important;
}

.react-calendar__tile--active {
  color: white !important;
}

#add-card head {
  overflow: hidden !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
  outline: none;
}

.swiper-pagination-bullet-active {
  background: #b47435 !important;
}

@import url('https://use.typekit.net/jqs8nxr.css');

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: inline-flex;
  align-items: center;
}

.loading .spacer {
  margin-right: 2px;
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.loading span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.floating-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  header .menu-btn-first {
    margin-left: auto !important;
  }

  header .menu-btn-last {
    margin-left: 1.25rem;
  }

  header .menu-btn-first a,
  header .menu-btn-last a {
    min-width: 168px;
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  body:not(.page-book-now) #__next {
    height: calc(100vh - 60px);
  }

  .floating-btn {
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 20px;
    display: block;
    width: 100%;
  }
}

[type='text'],
[type='email'],
[type='tel'] {
  border-radius: 6px;
}

.splide__list {
  gap: 2rem;
}

@media screen and (max-width: 480px) {
  .splide__track {
    height: 34rem;
    padding-left: 0;
  }

  .review-slider_card {
    padding-left: 0;
  }

  .review-slider_card-top {
    padding-right: 20px;
  }

  .splide__list {
    gap: 0;
  }
}

.styled-scrollbar {
  scrollbar-color: #137373 #0000002e;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #137373;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: #0000002e;
}

.MuiDateCalendar-root {
  padding: 24px !important;
  border: 1px solid #EAECEE !important;
  border-radius: 12px;
  width: 100% !important;
  max-height: none !important;
  height: auto !important;
}

.MuiDayCalendar-monthContainer {
  position: relative !important;
}

.MuiPickersCalendarHeader-root {
  margin-bottom: 24px !important;
}

.MuiPickersCalendarHeader-label {
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
}

.MuiDayCalendar-weekDayLabel {
  flex: 1 !important;
}

.MuiPickersDay-root {
  flex: 1 !important;
  color: #7B7D7F;
  padding: 20px 20px 30px 20px !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px !important;
  align-items: center !important;
  justify-content: center !important;
  height: 60px !important;
  border: 1px solid rgb(208, 208, 208) !important;
  border-radius: 10px !important;
}

.Mui-selected {
  background-color: #9a7f71 !important;
}

@media screen and (max-width: 720px) {
  .MuiDateCalendar-root {
    padding: 0 !important;
    border: none !important;
  }

  .MuiPickersDay-root {
    padding: 14px !important;
    font-size: 13px !important;
    height: 60px !important;
    margin: 0 !important;
  }

  .MuiDayCalendar-weekContainer {
    margin: 0 0 -1px 0 !important;
  }
}

