.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 100%;
  max-width: 874px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.headingText {
  font-size: 80px;
  text-align: center;
}

.body {
  max-width: 540px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .body {
    font-size: 13px;
  }

  .headingText {
    font-size: 64px;
  }
}
