.root {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 80px 32px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 40px 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__ay8Fl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ggyYp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 700px;
  margin-bottom: 32px;
  min-width: 0;
  padding: 0px;
}
.freeBox__ggyYp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ggyYp > :global(.__wab_flex-container) > *,
.freeBox__ggyYp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ggyYp > :global(.__wab_flex-container) > picture > img,
.freeBox__ggyYp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 34px;
  }
}
.p__qLmrM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__qLmrM {
    font-size: 15px;
  }
}
.freeBox__lXjhF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lXjhF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__lXjhF > :global(.__wab_flex-container) > *,
.freeBox__lXjhF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lXjhF > :global(.__wab_flex-container) > picture > img,
.freeBox__lXjhF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (max-width: 1200px) {
  .freeBox__lXjhF {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .freeBox__lXjhF > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 1200px) {
  .freeBox__lXjhF > :global(.__wab_flex-container) > *,
  .freeBox__lXjhF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lXjhF > :global(.__wab_flex-container) > picture > img,
  .freeBox__lXjhF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lXjhF > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lXjhF > :global(.__wab_flex-container) > *,
  .freeBox__lXjhF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lXjhF > :global(.__wab_flex-container) > picture > img,
  .freeBox__lXjhF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.contactCardNew__pg9Uh:global(.__wab_instance) {
  position: relative;
  width: 60%;
}
@media (max-width: 1200px) {
  .contactCardNew__pg9Uh:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__yaJhI {
  object-fit: cover;
  max-width: 100%;
  color: #9a7f71;
  width: 32px;
  height: 32px;
}
.contactCardNew__jcKsw:global(.__wab_instance) {
  position: relative;
  width: 74%;
}
@media (max-width: 1200px) {
  .contactCardNew__jcKsw:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__slHbk {
  object-fit: cover;
  max-width: 100%;
  color: #9a7f71;
  width: 32px;
  height: 32px;
}
.contactCardNew__mSwSe:global(.__wab_instance) {
  position: relative;
}
.svg__po3CG {
  object-fit: cover;
  max-width: 100%;
  color: #9a7f71;
  width: 32px;
  height: 32px;
}
.freeBox__ohTsZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 70vh;
  max-width: 100%;
  margin-top: 56px;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 0px;
}
.freeBox__ohTsZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ohTsZ {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ohTsZ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ohTsZ > :global(.__wab_flex-container) > *,
  .freeBox__ohTsZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ohTsZ > :global(.__wab_flex-container) > picture > img,
  .freeBox__ohTsZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
    height: 280px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.freeBox__qkevh {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 16px;
  top: auto;
  bottom: 16px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qkevh {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__zIuL4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___9L6Zz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #fcfcfc;
  border-radius: 12px;
  padding: 0px 28px;
  border: 1px solid #eaecee;
}
.svg__pQsql {
  object-fit: cover;
  max-width: 100%;
  color: #9a7f71;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__ppn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fcfcfc;
  margin-left: -1px;
  min-width: 0;
  border-radius: 12px;
  padding: 16px 124px 16px 16px;
  border: 1px solid #eaecee;
}
.freeBox__ppn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ppn > :global(.__wab_flex-container) > *,
.freeBox__ppn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ppn > :global(.__wab_flex-container) > picture > img,
.freeBox__ppn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__d25J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fcfcfc;
  margin-left: -1px;
  min-width: 0;
  border-radius: 12px;
  padding: 16px 16px 16px 16px;
  border: 1px solid #eaecee;
}
.freeBox__d25J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__d25J > :global(.__wab_flex-container) > *,
.freeBox__d25J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d25J > :global(.__wab_flex-container) > picture > img,
.freeBox__d25J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d25J {
    padding-right: 16px;
  }
}
.p__xEZz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.p__oIlFl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.p__cq7Gt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.p__bYk2T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  white-space: pre;
}
