.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 1px;
  max-width: 100%;
  background: #eaecee;
  position: relative;
  padding: 0px;
}
