.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #ffffff;
  border-radius: 500px;
  padding: 4px 4px 4px 24px;
  border: 1px solid var(--dark-brown);
}
@media (max-width: 1200px) {
  .root {
    padding-left: 16px;
  }
}
.p__wLTdE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 24px;
  color: #535556;
  text-decoration-line: line-through;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .p__wLTdE {
    font-size: 16px;
    margin-right: 16px;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--dark-brown);
  min-width: 0;
  border-radius: 500px;
  padding: 6px 16px;
  border: 1px none #77a4aa;
}
@media (max-width: 1200px) {
  .freeBox {
    padding: 4px 12px;
  }
}
.p___8Izu3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .p___8Izu3 {
    font-size: 20px;
  }
}
.p__lsKr7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffffcc;
  margin-bottom: 4px;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .p__lsKr7 {
    font-size: 12px;
    margin: 0px 0px 3px;
  }
}
