.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.text__gv06O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #95999c;
  font-weight: 500;
  font-size: 15px;
}
.freeBox__r9RRm {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 6px;
  grid-column-gap: 6px;
  min-width: 0;
  padding: 0px;
}
.freeBox__co1Z7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 999px;
  padding: 8px;
  border: 1px solid #eaecee;
}
.text__y8Kal {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
