.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox__n0TI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  min-width: 0;
}
.text__jYwe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jYwe {
    font-size: 16px;
    color: #434445;
  }
}
.textwhite__jYweqjObc {
  color: #f8f8f8;
}
.freeBox__zau41 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___6KhjE {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6KhjE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___6KhjE > :global(.__wab_flex-container) > *,
.freeBox___6KhjE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6KhjE > :global(.__wab_flex-container) > picture > img,
.freeBox___6KhjE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ssRxZ {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #9a7f71;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
.textwhite__ssRxZqjObc {
  color: #ffffff;
}
.img___09D1V {
  height: 16px;
  width: 16px;
  object-fit: cover;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  flex-shrink: 0;
}
.img___09D1V > picture > img {
  object-fit: cover;
}
.freeBox__s6G3P {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.freeBox__s6G3P > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__s6G3P > :global(.__wab_flex-container) > *,
.freeBox__s6G3P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s6G3P > :global(.__wab_flex-container) > picture > img,
.freeBox__s6G3P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___3ENgm {
  color: #9a7f71;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
.textwhite___3ENgmqjObc {
  color: #ffffff;
}
.img__wayha {
  height: 16px;
  width: 16px;
  object-fit: cover;
  flex-shrink: 0;
}
.img__wayha > picture > img {
  object-fit: cover;
}
