.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 60px 32px;
}
@media (max-width: 1200px) {
  .root {
    padding-bottom: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 40px 16px 50px;
  }
}
.rootcolor_grey {
  background: #f5f5f5;
}
.freeBox__qNzC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 0px;
}
.freeBox__qNzC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__qNzC > :global(.__wab_flex-container) > *,
.freeBox__qNzC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qNzC > :global(.__wab_flex-container) > picture > img,
.freeBox__qNzC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___1H261 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1H261 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1H261 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1H261 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1H261 > :global(.__wab_flex-container) > *,
  .freeBox___1H261 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1H261 > :global(.__wab_flex-container) > picture > img,
  .freeBox___1H261
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__bEm7B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__bEm7B > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bEm7B > :global(.__wab_flex-container) > *,
.freeBox__bEm7B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bEm7B > :global(.__wab_flex-container) > picture > img,
.freeBox__bEm7B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.link__uGkZ2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 62px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    height: 28px;
  }
}
.freeBox__eEcCj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__exzq {
  width: auto;
  height: auto;
  max-width: 100%;
  text-decoration-line: underline;
  color: #9a7f71;
  font-weight: 600;
  font-size: 18px;
}
.freeBox__lHt5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lHt5 {
    width: 100%;
    justify-content: space-between;
    min-width: 0;
  }
}
.freeBox__mqk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mqk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__mqk > :global(.__wab_flex-container) > *,
.freeBox__mqk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqk > :global(.__wab_flex-container) > picture > img,
.freeBox__mqk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mqk {
    width: auto;
  }
}
.text__dzuBd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #7b7d7f;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}
.link___3Mgmz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
}
.link__qhVL {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
}
.link__oZe7H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
}
.link__vxue6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
}
.freeBox__woP50 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__woP50 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__woP50 > :global(.__wab_flex-container) > *,
.freeBox__woP50 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__woP50 > :global(.__wab_flex-container) > picture > img,
.freeBox__woP50
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__woP50 {
    width: auto;
  }
}
.text__asr64 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #7b7d7f;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}
.link__zk2C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
}
.link__qvzpu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
}
.link__lt6Rj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
  padding-left: 0px;
}
.link__uXT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
}
.link__vk88V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535556;
  font-weight: 500;
}
.freeBox__uxe5D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uxe5D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__uxe5D > :global(.__wab_flex-container) > *,
.freeBox__uxe5D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uxe5D > :global(.__wab_flex-container) > picture > img,
.freeBox__uxe5D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uxe5D {
    width: auto;
  }
}
.text__wbgiT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #7b7d7f;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
  padding-right: 0px;
}
.link__wjdsQ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.link__wjdsQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.link__wjdsQ > :global(.__wab_flex-container) > *,
.link__wjdsQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__wjdsQ > :global(.__wab_flex-container) > picture > img,
.link__wjdsQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.svg___6Qyut {
  object-fit: cover;
  max-width: 100%;
  color: #9a7f71;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__gWoBa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #9a7f71;
}
.link__o1Uyh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.link__o1Uyh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.link__o1Uyh > :global(.__wab_flex-container) > *,
.link__o1Uyh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__o1Uyh > :global(.__wab_flex-container) > picture > img,
.link__o1Uyh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.svg__mVwmj {
  object-fit: cover;
  max-width: 100%;
  color: #9a7f71;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__n3W1X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #9a7f71;
}
.freeBox___0HiYd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___0HiYd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox___0HiYd {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 1200px) {
  .freeBox___0HiYd > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (max-width: 1200px) {
  .freeBox___0HiYd > :global(.__wab_flex-container) > *,
  .freeBox___0HiYd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0HiYd > :global(.__wab_flex-container) > picture > img,
  .freeBox___0HiYd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0HiYd > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0HiYd > :global(.__wab_flex-container) > *,
  .freeBox___0HiYd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0HiYd > :global(.__wab_flex-container) > picture > img,
  .freeBox___0HiYd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.p {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  color: #7b7d7f;
}
.freeBox___7EXpR {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.freeBox___7EXpR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox___7EXpR > :global(.__wab_flex-container) > *,
.freeBox___7EXpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7EXpR > :global(.__wab_flex-container) > picture > img,
.freeBox___7EXpR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7EXpR {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7EXpR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7EXpR > :global(.__wab_flex-container) > *,
  .freeBox___7EXpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7EXpR > :global(.__wab_flex-container) > picture > img,
  .freeBox___7EXpR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.link__xphpw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #7b7d7f;
}
.link___8MEnw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #7b7d7f;
}
.link__khr9L {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #7b7d7f;
}
.link__cGtN9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #7b7d7f;
}
.link___81PkS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #7b7d7f;
}
