.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7fbfb;
  position: relative;
  min-width: 0;
  border-radius: 500px;
  padding: 6px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ebdbd6;
  flex-shrink: 0;
  border-radius: 500px;
  padding: 0px;
}
.svg__qHuxL {
  object-fit: cover;
  max-width: 100%;
  color: #9a7f71;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
