.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f8f8f8;
  position: relative;
  cursor: pointer;
  min-width: 0;
  border-radius: 16px;
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 16px;
  }
}
.rootopen {
  background: #EBDBD6;
}
.freeBox__sXkop {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__cb0Ha {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
/* .h4open {
  color: #9a7f71;
} */
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #535556;
  width: 12px;
  flex-shrink: 0;
  height: 1em;
}
.svgopen {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
}
.freeBox__rV0Vr {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 0px;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBoxopen__rV0VrqD6HF {
  height: auto;
}
.text__wQbCb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 16px;
  min-width: 0;
}
