.root {
  display: flex;
  position: relative;
  flex-direction: row;
  /* background: linear-gradient(-72deg, #0c7a7b 0%, #39a7a8 68%, #1a6364 100%) 0% */
    /* 0% / 110% 100%; */
  background: linear-gradient(-72deg, #9a7f71 0%, #ebdbd6 68%, #9a7f71 100%) 0% 0% / 110% 100%;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 8px;
  padding: 20px 32px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 14px 20px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor_blue {
  background: #0091ff;
}
.rootcolor_green {
  background: #30a46c;
}
.rootcolor_yellow {
  background: #f5d90a;
}
.rootcolor_red {
  background: #e54d2e;
}
.rootcolor_sand {
  background: #717069;
}
.rootcolor_white {
  background: #ffffff;
}
.rootcolor_softBlue {
  background: #edf6ff;
}
.rootcolor_softGreen {
  background: #e9f9ee;
}
.rootcolor_softYellow {
  background: #fffbd1;
}
.rootcolor_softRed {
  background: #fff0ee;
}
.rootcolor_softSand {
  background: #eeeeec;
}
.rootcolor_clear {
  background: #ffffff00;
}
.rootcolor_link {
  background: #ffffff00;
}
.rootcolor_outlineGold {
  background: #00747600;
  border: 1px solid #d19d51;
}
.rootcolor_outlineGrey {
  background: none;
  border: 1px solid #d9dcde;
}
.rootshape_rounded_showStartIcon {
  padding-left: 16px;
}
.rootshape_rounded_showEndIcon {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:hover {
  background: linear-gradient(-72deg, #9a7f71 0%, #ebdbd6 68%, #9a7f71 100%) 0% 0% / 110% 100%;
}
.rootcolor_blue:hover {
  background: #369eff;
}
.rootcolor_green:hover {
  background: #3cb179;
}
.rootcolor_yellow:hover {
  background: #ffef5c;
}
.rootcolor_red:hover {
  background: #ec5e41;
}
.rootcolor_sand:hover {
  background: #7f7e77;
}
.rootcolor_white:hover {
  background: #efefef;
}
.rootcolor_softBlue:hover {
  background: #e1f0ff;
}
.rootcolor_softGreen:hover {
  background: #ddf3e4;
}
.rootcolor_softYellow:hover {
  background: #fff8bb;
}
.rootcolor_softRed:hover {
  background: #ffe6e2;
}
.rootcolor_softSand:hover {
  background: #e9e9e6;
}
.rootcolor_clear:hover {
  background: #e9e9e6;
}
.rootcolor_link:hover {
  background: #ffffff00;
}
.rootcolor_outlineGrey:hover {
  background: #f2f2f2;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ffffff;
}
.slotTargetStartIconcolor_yellow {
  color: #35290f;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.slotTargetStartIconcolor_softBlue {
  color: #006adc;
}
.slotTargetStartIconcolor_softGreen {
  color: #18794e;
}
.slotTargetStartIconcolor_softYellow {
  color: #946800;
}
.slotTargetStartIconcolor_softRed {
  color: #ca3214;
}
.slotTargetStartIconcolor_softSand {
  color: #706f6c;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetStartIconcolor_link {
  color: #0081f1;
}
.svg__dbAKh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  color: #ffffff;
  font-weight: 500;
  white-space: pre;
  font-size: 18px;
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
}
.slotTargetChildrencolor_green {
  color: #ffffff;
}
.slotTargetChildrencolor_yellow {
  color: #35290f;
}
.slotTargetChildrencolor_red {
  color: #ffffff;
}
.slotTargetChildrencolor_sand {
  color: #ffffff;
}
.slotTargetChildrencolor_white {
  color: #1b1b18;
}
.slotTargetChildrencolor_softBlue {
  color: #006adc;
}
.slotTargetChildrencolor_softGreen {
  color: #18794e;
}
.slotTargetChildrencolor_softYellow {
  color: #946800;
}
.slotTargetChildrencolor_softRed {
  color: #ca3214;
}
.slotTargetChildrencolor_softSand {
  color: #1b1b18;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_link {
  color: #0091ff;
}
.slotTargetChildrencolor_outlineGold {
  color: #d19d51;
  font-weight: 400;
}
.slotTargetChildrencolor_outlineGrey {
  color: #535556;
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_link:hover .slotTargetChildrencolor_link {
  color: #0081f1;
}
.rootcolor_link:hover .slotTargetChildrencolor_link > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ffffff;
}
.slotTargetEndIconcolor_yellow {
  color: #35290f;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.slotTargetEndIconcolor_softBlue {
  color: #006adc;
}
.slotTargetEndIconcolor_softGreen {
  color: #18794e;
}
.slotTargetEndIconcolor_softYellow {
  color: #946800;
}
.slotTargetEndIconcolor_softRed {
  color: #ca3214;
}
.slotTargetEndIconcolor_softSand {
  color: #706f6c;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetEndIconcolor_link {
  color: #0081f1;
}
.svg__dp3HQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
