.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  padding: 40px 0px;
}
.freeBox__tnbf2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.infiniteAnimator {
  display: flex;
  height: auto;
  max-width: auto;
  flex-direction: row;
  padding: 0px;
}
.infiniteAnimator > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.infiniteAnimator > :global(.__wab_flex-container) > *,
.infiniteAnimator > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.infiniteAnimator > :global(.__wab_flex-container) > picture > img,
.infiniteAnimator
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.freeBox__hFwHj {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hFwHj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__hFwHj > :global(.__wab_flex-container) > *,
.freeBox__hFwHj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hFwHj > :global(.__wab_flex-container) > picture > img,
.freeBox__hFwHj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.img__su97G {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__su97G > picture > img {
  object-fit: cover;
}
.img___0Bjsg {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img___0Bjsg > picture > img {
  object-fit: cover;
}
.img__htCda {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__htCda > picture > img {
  object-fit: cover;
}
.img__kmSoI {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__kmSoI > picture > img {
  object-fit: cover;
}
.img__h9V6W {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__h9V6W > picture > img {
  object-fit: cover;
}
.freeBox__yJp6K {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__yJp6K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__yJp6K > :global(.__wab_flex-container) > *,
.freeBox__yJp6K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yJp6K > :global(.__wab_flex-container) > picture > img,
.freeBox__yJp6K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.img__jLcve {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__jLcve > picture > img {
  object-fit: cover;
}
.img__uiov6 {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__uiov6 > picture > img {
  object-fit: cover;
}
.img__tmTuq {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__tmTuq > picture > img {
  object-fit: cover;
}
.img__a8PrN {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__a8PrN > picture > img {
  object-fit: cover;
}
.img__lQubi {
  object-fit: cover;
  max-width: 100%;
  width: 364px;
  position: relative;
}
.img__lQubi > picture > img {
  object-fit: cover;
}
