.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  position: relative;
  width: 375px;
  min-width: 375px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 321px;
    min-width: 321px;
  }
}
.freeBox__tGbbD {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__mWaMa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 120px;
  height: 115px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mWaMa {
    width: 100px;
    height: 85px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
  }
}
.img__ugjul {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-position: center center;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
}
.img__ugjul > picture > img {
  object-fit: cover;
  object-position: center center;
}
.freeBox__vExS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #137373;
  min-width: 0;
  border-radius: 16px;
  padding: 20px;
}
.freeBox__vExS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vExS > :global(.__wab_flex-container) > *,
.freeBox__vExS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vExS > :global(.__wab_flex-container) > picture > img,
.freeBox__vExS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vExS {
    width: 100%;
    min-width: 0;
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vExS > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vExS > :global(.__wab_flex-container) > *,
  .freeBox__vExS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vExS > :global(.__wab_flex-container) > picture > img,
  .freeBox__vExS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox___7U9Q1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___7U9Q1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___7U9Q1 > :global(.__wab_flex-container) > *,
.freeBox___7U9Q1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7U9Q1 > :global(.__wab_flex-container) > picture > img,
.freeBox___7U9Q1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7U9Q1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7U9Q1 > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7U9Q1 > :global(.__wab_flex-container) > *,
  .freeBox___7U9Q1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7U9Q1 > :global(.__wab_flex-container) > picture > img,
  .freeBox___7U9Q1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.text__a07Fw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Cormorant", serif;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 20px;
  color: #fcfdff;
}
.text__nqZ9C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #fcfdff;
  line-height: 100%;
}
.freeBox__fYrvu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  background: #f0f9fa;
  min-width: 0;
  border-radius: 24px;
  padding: 4px 22px 4px 12px;
  border: 1px solid #77a4aa;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fYrvu {
    width: 136px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
.text___03Cmt {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  letter-spacing: 1%;
  color: #9a7f71;
  margin-right: 8px;
}
.text___9Lzvd {
  position: relative;
  height: auto;
  max-width: 100%;
  color: #0c7a7b;
  margin-right: 3px;
  font-size: 18px;
}
.text__bbA9T {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #9a7f71;
}
.freeBox__jNIzL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #137373;
  min-width: 0;
  border-radius: 16px;
  padding: 20px;
}
.exclusiveIntroductoryButton:global(.__wab_instance) {
  max-width: 100%;
  height: 44px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .exclusiveIntroductoryButton:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__xngH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lNfnE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
