.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f8f8f8;
  position: relative;
  min-width: 0;
  padding: 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 28px);
  width: calc(100% + 28px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 28px;
}
@media (max-width: 1200px) {
  .root {
    display: flex;
    flex-direction: column;
    min-width: 400px;
  }
}
@media (max-width: 1200px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 28px);
    height: calc(100% + 28px);
  }
}
@media (max-width: 1200px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 28px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    min-width: 340px;
  }
}
.img__nkyaF {
  object-fit: cover;
  max-width: 100%;
}
.img__nkyaF > picture > img {
  object-fit: cover;
}
.freeBox__kReia {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .h3 {
    margin-bottom: 10px;
  }
}
.p {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .p {
    margin-bottom: 10px;
  }
}
.freeBox__cg3FJ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
}
.freeBox__nfAxz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 999px;
  padding: 14px 20px;
  border: 1px solid #d19d51;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #d19d51;
  font-size: 15px;
}
