.root {
  display: block;
  width: 22px;
  height: 22px;
  max-width: 100%;
  background: #ffffff6e;
  outline-style: solid;
  outline-width: 6px;
  outline-color: #ffffff33;
  position: relative;
  cursor: pointer;
  border-radius: 500px;
  padding: 0px;
}
.rootselected {
  background: #ffffff;
}
.freeBox___0KVzi {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__bq3GX {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 12px;
  height: 12px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 500px;
  padding: 0px;
}
.freeBoxselected__bq3GXBIuk {
  background: #9a7f71;
}
