.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text {
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    font-size: 24px;
  }
}
.link__gbjVr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-size: 18px;
  color: #535556;
  min-width: 0;
  padding: 8px 0px;
}
.link__wsb0G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  color: #535556;
  font-size: 18px;
  min-width: 0;
  padding: 8px 0px;
}
.link__pju7X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-size: 18px;
  color: #535556;
  min-width: 0;
  padding: 8px 0px;
}
.link__bhNi7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  color: #535556;
  font-size: 18px;
  min-width: 0;
  padding: 8px 0px;
}
.link__vm3Ft {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-size: 18px;
  color: #535556;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vm3Ft {
    font-size: 18px;
    color: #535556;
  }
}
