.root {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  color: #a8a8a8;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.root:hover {
  color: #000000;
}
