.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 87px 0px 0px;
}
.freeBox__ck88K {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 874px;
  min-width: 0;
  padding: 0px;
}
.bookingStep0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.bookingStep0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 56px);
  height: calc(100% + 56px);
}
.bookingStep0 > :global(.__wab_flex-container) > *,
.bookingStep0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bookingStep0 > :global(.__wab_flex-container) > picture > img,
.bookingStep0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 56px;
}
.freeBox__xDLu4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xDLu4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__xDLu4 > :global(.__wab_flex-container) > *,
.freeBox__xDLu4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xDLu4 > :global(.__wab_flex-container) > picture > img,
.freeBox__xDLu4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.dd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
.freeBox__lxJFj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lxJFj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__lxJFj > :global(.__wab_flex-container) > *,
.freeBox__lxJFj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lxJFj > :global(.__wab_flex-container) > picture > img,
.freeBox__lxJFj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button__bHClg:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wZnJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lhIY {
  padding-right: 0px;
}
.svg__c7Icz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__vKdwa:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vgIeq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___00J4 {
  padding-right: 0px;
}
.svg__kjnY8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___3IWrk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  min-width: 0;
  padding: 32px 0px 0px;
}
.freeBox__kM6P {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 650px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
}
.statusPill__dtQla:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.statusPillSeparator__kAdyr:global(.__wab_instance) {
  position: relative;
}
.statusPill__wcr3J:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.statusPillSeparator__kpNy6:global(.__wab_instance) {
  position: relative;
}
.statusPill__xNtEz:global(.__wab_instance) {
  position: relative;
  width: auto;
}
.bookingStep1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__aLbSv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__aLbSv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__aLbSv > :global(.__wab_flex-container) > *,
.freeBox__aLbSv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aLbSv > :global(.__wab_flex-container) > picture > img,
.freeBox__aLbSv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__aJpvk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__aJpvk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__aJpvk > :global(.__wab_flex-container) > *,
.freeBox__aJpvk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aJpvk > :global(.__wab_flex-container) > picture > img,
.freeBox__aJpvk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__jAIc6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 56px;
}
.text__ap3Sr {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: #7b7d7f;
  font-size: 18px;
}
.freeBox__z0Ahj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__z0Ahj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__z0Ahj > :global(.__wab_flex-container) > *,
.freeBox__z0Ahj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z0Ahj > :global(.__wab_flex-container) > picture > img,
.freeBox__z0Ahj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.bookingServiceList__nQhye:global(.__wab_instance) {
  position: relative;
}
.img__b88N {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.img__b88N > picture > img {
  object-fit: cover;
}
.bookingServiceList__w5GrS:global(.__wab_instance) {
  position: relative;
}
.img__hcGkb {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.img__hcGkb > picture > img {
  object-fit: cover;
}
.bookingStep2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___6G2D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox___6G2D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___6G2D > :global(.__wab_flex-container) > *,
.freeBox___6G2D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6G2D > :global(.__wab_flex-container) > picture > img,
.freeBox___6G2D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__i783V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 56px;
}
.text__iUgHz {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: #7b7d7f;
  font-size: 18px;
}
.freeBox___3FgAs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lc8Bi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lc8Bi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__lc8Bi > :global(.__wab_flex-container) > *,
.freeBox__lc8Bi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lc8Bi > :global(.__wab_flex-container) > picture > img,
.freeBox__lc8Bi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__ukbd4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ukbd4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ukbd4 > :global(.__wab_flex-container) > *,
.freeBox__ukbd4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ukbd4 > :global(.__wab_flex-container) > picture > img,
.freeBox__ukbd4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__tOsey {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__tOsey > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__tOsey > :global(.__wab_flex-container) > *,
.freeBox__tOsey > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tOsey > :global(.__wab_flex-container) > picture > img,
.freeBox__tOsey
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2___4AN7I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 56px;
}
.text___8JCgA {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: #7b7d7f;
  font-size: 18px;
}
.freeBox__dk6BO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__dk6BO > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dk6BO > :global(.__wab_flex-container) > *,
.freeBox__dk6BO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dk6BO > :global(.__wab_flex-container) > picture > img,
.freeBox__dk6BO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__dqoyf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dqoyf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dqoyf > :global(.__wab_flex-container) > *,
.freeBox__dqoyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dqoyf > :global(.__wab_flex-container) > picture > img,
.freeBox__dqoyf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___9JqAq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.freeBox___72K1Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tcOvp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9L88J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sHjNq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sHjNq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sHjNq > :global(.__wab_flex-container) > *,
.freeBox__sHjNq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sHjNq > :global(.__wab_flex-container) > picture > img,
.freeBox__sHjNq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__rggj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.freeBox__vMjeO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__oPv0J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__u1Sck {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__stZ64 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__stZ64 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__stZ64 > :global(.__wab_flex-container) > *,
.freeBox__stZ64 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__stZ64 > :global(.__wab_flex-container) > picture > img,
.freeBox__stZ64
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fzTfj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.freeBox__oobG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
}
.text__jfHz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  min-width: 0;
}
.svg__ybE8V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__cQcBl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.checkbox:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___4PZ0V {
  padding-right: 0px;
}
.freeBox__sy6J7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 32px;
  min-width: 0;
  padding: 0px;
}
.freeBox__olOcs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px;
}
.freeBox__olOcs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__olOcs > :global(.__wab_flex-container) > *,
.freeBox__olOcs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__olOcs > :global(.__wab_flex-container) > picture > img,
.freeBox__olOcs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ljzAh {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-2O8AIm-rC9eT);
  flex-shrink: 0;
}
.text__wychD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  color: var(--token-2O8AIm-rC9eT);
  min-width: 0;
}
.button___1ObsA:global(.__wab_instance) {
  max-width: 100%;
  min-width: 200px;
}
.svg__uRicl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tad3N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
