.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 874px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.selectors {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 32px;
  width: 100%;
  align-items: flex-start
}

@media screen and (max-width: 720px) {
  .selectors {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.calendar {
  padding: 24px !important;
  border: 1px solid #EAECEE !important;
  border-radius: 12px;
  width: 100% !important;
}

@media screen and (max-width: 720px) {
  .calendar {
    padding: 16px !important;
  }
  
}

.times {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.tod {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.todTitle {
  font-size: 15px;
  font-weight: 500;
  color: #95999C;
}

.timeSlots {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.slotPill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 400;
  color: #535556;
  cursor: pointer;
  border: 1px solid #EAECEE;
  transition-duration: 0.3s;

  &.slotPill:hover {
    background-color: #e9e9e9;
  }

}

.active {
  background-color: #9a7f71;
  color: white;
  border-color: #9a7f71;

  &.active:hover {
    background-color: #9a7f71;
  }
}

.error {
  color: #FF0000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.calendarWrap {
  position: relative;
}

.calendarLoader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
