.section {
  width: 103%;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .section {
    width: 90%;
    padding: 0 16px;
    box-sizing: border-box;
  }
}

.slider {
  gap: 20px;
}

.section > div > div {
  overflow: visible;
}

.bottom {
  padding-right: 16px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.card {
  /* display: flex;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
  max-width: 426px;
  min-width: 426px;
  flex-direction: column; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}

.navButton {
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaecee;
  background-color: #8f7162e6;
}

.prev {
  composes: navButton;
}

.disabled {
  background-color: #8f7162e6;
  border-color: #d9dcde;
  pointer-events: none;
}

.next {
  composes: navButton;
}

.dots {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dot {
  background-color: #fbfcfe;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.dotsMobile {
  display: none;
}

.dotActive {
  background-color: #8f7162e6;
}

@media screen and (max-width: 768px) {
  .nav {
    gap: 16px;
  }

  .bottom {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .dots {
    display: none;
  }

  .dotsMobile {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .navigation {
    width: 100%;
    justify-content: space-between;
  }

  .button {
    width: 100%;
  }
}
